/* css/apod.css */
:root {
  --bg-color: #000000;
  --text-color: #e2e2e2;
  --ctrl-bg: #222222;
  --ctrl-border: #444444;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
}
.apod-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.apod-display {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.apod-display img {
  max-width: 400px;
  max-height: auto;
  width: auto;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--ctrl-border);
}
.apod-info {
  max-width: 400px;
  max-height: auto;
  width: auto;
  height: auto;
  flex: 1;
  border: 1px solid var(--ctrl-border);
  border-radius: 6px;
  padding: 0.5rem;
}
.apod-info h3 {
  line-height: 1.5;
  text-align: center;
  margin: -0.5rem auto 1rem;
  padding: 0.5rem;
}
.apod-info p {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
}
input[type="date"] {
  background-color: #000000; /* світло-кавовий фон */
  color: #ffffff; /* темно-коричневий текст */
  border: 1px solid #000000; /* помаранчевий ободок */
  border-radius: 4px; /* заокруглення кутів */
  padding: 0.5rem 0.5rem; /* внутрішні відступи */
  font-size: 1.1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) brightness(200%) saturate(0%);
}
